.containerheader {
    display: flex;
    justify-content: space-between;
    width: 60%;
       &-back {
        display: flex;
        img {
            width: 17px;
            height: 17px;
        }

    }
    .textfieldhome-text-5 {
    color: #6d6d6e;
   font-size: 16px;
   font-weight: 500;
    }






}