.textContainer {
  display: flex;
  align-items: center;
  background-image: url("/images/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgb(88, 180, 100, 0.8);
  width: 40%;
  padding: 0 45px;
  height: 194vh;
  .textFront {
    position: relative;
    color: white;
    font-size: 21px;
    line-height: 2rem;
    padding: 0 24px;
    &::before {
      content: "";
      position: absolute;
      top: -78px;
      left: 18px;
      width: 29px;
      height: 23px;
      background-image: url("/images/icons/quotes.png");
      background-repeat: no-repeat;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -80px;
      right: 74px;
      width: 32px;
      height: 32px;
      background-image: url("/images/icons/vector.png");
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .textContainer {
    display: none;
  }
}
